{% extends "base.html" %}

{% block content %}
<h1>Admin Dashboard</h1>

<p class="muted">
  Welcome, {{ session["user"]["full_name"] }}.
  Select a section to manage UrbaneTrack.
</p>

<section class="grid">

  <div class="card">
    <h2>Appointments</h2>

    <a
      href="{{ url_for('admin_appointments') }}"
      class="btn primary"
    >
      Manage Appointments
    </a>
  </div>

  <div class="card">
    <h2>User Accounts</h2>

    <a
      href="{{ url_for('admin_users') }}"
      class="btn primary"
    >
      Manage User Accounts
    </a>

    <a
      href="{{ url_for('admin_clients') }}"
      class="btn primary"
    >
      Register Client
    </a>
  </div>

  <div class="card">
    <h2>Sessions</h2>

    <a
      href="{{ url_for('admin_progress_notes') }}"
      class="btn primary"
    >
      Progress Notes
    </a>

     <a
      href="{{ url_for('admin_progress_status') }}"
      class="btn primary"
    >
      Progress Status
    </a>
  </div>

  

</section>
{% endblock %}